.App-logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid; 
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.nav{
  grid-area: n;
  background-color: chartreuse;
}
.content{
  grid-area: c;
  background-color: plum;
  padding: 20px;
}